@import "./card-component.css";

/* 카드 레이아웃 */

.card-container {
  display: grid;
  grid-template-columns:
    [full-start]repeat(4, minmax(1rem, 1fr)) [content-start] repeat(
      4,
      minmax(5.3125rem, 1fr)
    )
    [content-end] repeat(4, minmax(1rem, 1fr)) [full-end];
  grid-template-rows: repeat(7, minmax(--size, 1fr));
  grid-auto-flow: dense;
  gap: var(--large-spacing);
  .ipad-pro,
  .ipad-air,
  .iphone15-pro,
  .iphone15,
  .apple-watch,
  .macbook-air,
  .airpods-pro {
    height: var(--size);
    grid-column: full;
    background-size: cover; /* 배경 이미지를 카드 크기에 맞게 조정 */
    background-position: center; /* 배경 이미지의 위치 조정 */
  }
  .ipad-pro {
    background-image: url(../products/ipad_pro.jpeg);
  }
  .ipad-air {
    background-image: url(../products/ipad_air.jpeg);
  }
  .iphone15-pro {
    background-image: url(../products/iphone15_pro.jpeg);
  }
  .iphone15 {
    background-image: url(../products/iphone15.jpeg);
  }
  .apple-watch {
    background-image: url(../products/apple_watch.jpeg);
  }
  .macbook-air {
    background-image: url(../products/macbook_air.jpeg);
  }
  .airpods-pro {
    background-image: url(../products/airpods_pro.jpeg);
  }
}
